
// GENERAL SETTINGS 

.container-side-padding {
    padding-left: calc(50% - $container-size / 2);
    padding-right: calc(50% - $container-size / 2);
}

.wrapper-side-padding {
    padding-left: calc(50% - $wrapper-size /2);
    padding-right: calc(50% - $wrapper-size /2);
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
p::selection,
label::selection {
    background: $bg-color-primary-medium;
}

h1,
h2,
h3,
h5,
a,
input[value= "send message"],
label {
    font-family: $font-family-primary;
}

h1,
h2,
h3 {
    line-height: $line-height120;
    @include textTransformCenter;
}

h2,
h3,
h4,
h5,
a,
input[value= "send message"],
label {
    color: $color-primary;
}

h4,
p {
    font-family: $font-family-secondary;
}

h2,
h3,
h5,
a,
input[value= "send message"],
label {
    font-weight: $font-weight-semi-bold;
}

p,
a {
    font-size: $font-size19;
}

h1 {
    font-size: $font-size80;
    font-weight: $font-weight-bold;
    color: $color-secondary;
    letter-spacing: 8px;
    text-wrap: nowrap;
}

h2 {
    font-size: $font-size72;
    padding: 0 $bloc-side-space90;
}

h3 {
    font-size: $font-size29;
    padding: $bloc-space-between30 $bloc-side-space110;
}

h4 {
    font-size: $font-size16;
    font-weight: $font-weight-light;
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
}

p {
    font-weight: $font-weight-medium;
    line-height: $line-height250;
    color: $color-secondary;
    text-align: center;
}

a,
input[value= "send message"] {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-container {
    @include centerChild;
    padding-top: $bloc-space-between50;
    padding-bottom: $bloc-space-between50;
}

button,
input[type="submit"] {
    outline: none;
    background: transparent;
    border: 2px solid $button-primary-color;
    padding: 0.65em 2.5em;
    transition: $transition;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

input,
label,
textarea {
    display: block;
}

input:not([type="submit"]),
textarea {
    outline: none;
    width: 100%;
    color: $color-primary;
    background: transparent;
    border: 1px solid $bg-color-primary-medium;
    border-radius: 5px;
    padding: $input-padding;
}

input:focus,
textarea:focus {
    border: 1px solid $bg-color-secondary;

}

input {
    height: 40px;
}


h5,
label {
    font-size: $font-size16;
    letter-spacing: 3px;
    text-transform: uppercase;
}

textarea {
    height: 200px;
    resize: none;
}

input[type="submit"] {
    width: fit-content;
    margin: $bloc-space-between30 0;
}

body {
    background: url(../img/bg.jpg) fixed center/cover;
}

// ***HEADER SECTION*** 

#header-container {
    .header-wrapper {
        min-height: 100vh;
        display: grid;
        align-content: space-between;
    }

    .text-container {
        padding-top: 120px;
        margin-bottom: 40px;
            p {
                font-style: italic;
                @include textSpaceBetween;
            }
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
            a {
                height: 60px;
                width: 60px;
                @include centerChild;
                border: 2px solid $bg-color-primary;
                border-radius: 50%;
                    i {
                        font-size: $font-size19;
                        color: $color-secondary;
                    }
            }    
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f2f2f250;
    }

    .text-link-container,
    .social-container {
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
            li {
                padding: 30px 20px;
            }  
    }

    .text-link-container {
        &:nth-child(1):hover > li {
            background: initial;
        }
        li {
            height: 100%;
            transition: $transition;
            &:first-child {
                background: $bg-color-primary-medium;
                color: $color-primary;
            }
            &:hover {
                background: $bg-color-primary-medium;
            }
            &:hover a {
                color: $color-primary;
            }
        }
    }

    .texte-color {
        color: $color-primary;
        transition: $transition;
    }

    a {
        font-family: $font-family-primary;
        font-size: $font-size12;
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        color: $color-secondary;
        text-transform: uppercase;
        transition: $transition;
    }
        
    .social-container {
        li {
            padding: 30px;
            transition: $transition;   
            &:hover {
                transform: scale(1.5);
            }
            a {
                font-size: $font-size22;
                color: $color-secondary;
            }
        }
    }
}

// ***HERO SECTION*** 


#hero {
    .wrapper-container {
        background: $bg-color-primary;
        padding-bottom: 40px;
            h4 {
                width: 100%;
                position: relative;
                padding-top: $bloc-space-between50;
                padding-bottom: $bloc-space-between50;
                background: $color-secondary;
                &::before, &::after {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 40%;
                    background: $bg-color-primary-medium;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &::before {
                    left: 0;
                }
                &::after {
                    right: 0;
                }
            }
            p {
                color: $color-primary;
                padding: $bloc-space-between50 $bloc-side-space90;
                font-style: italic;
            }
            .img {
                height: 500px;
                width: 100%;
                background: url(/assets/img/pic01.jpg) center/cover;
            }
    } 
}


// ***NEWS SECTION*** 


#news {
    .news-container {
        position: relative;
        background: $bg-color-primary;
        padding: $bloc-side-space90 $bloc-space-between50 20px;
        &::before {
            @include horizontalSeparator;
            left: 0;
            top: 0;
        }
        .img1, .img2 {
            height: 300px;
            width: 100%;
        }
        .img1 {
            background: url(/assets/img/pic02.jpg) center/cover;
        }
        .img2 {
            background: url(/assets/img/pic03.jpg) center/cover;
        }
        p {
            font-size: $font-size16;
            color: $color-primary;
            padding-top: $bloc-space-between50;
        }
    }

    .news-container-after {
        position: relative;
        &::after {
            @include verticalSeparator;
            top: 0;
            right: 0;            
        }
    }
}


// ***FOOTER SECTION*** 


#footer-container {
    margin-top: 40px;
    margin-bottom: 80px;
        .form-container-left {
            background: $bg-color-primary;
            padding: $bloc-side-space90 $bloc-space-between50 20px;
            .form-part-container {
                display: flex;
                flex-direction: column-reverse;
            }
            input,
            textarea {
                margin: $bloc-space-between30 0;
            }
        }

        .form-container-right {
            position: relative;
            background: $bg-color-primary;
            padding-top: 40px;
            &::before {
                @include verticalSeparator;
                left: 0;
                top: 0;
            }
            form {
                height: 100%;
                display: grid;
                grid-template-rows: repeat(4, 1fr);
            }
            .form-part-container {
                position: relative;
                display: grid;
                grid-template-columns: 30% 70%;
                align-items: center;
                padding-left: 50px;
                padding-right: 50px;
                &::after {
                    @include horizontalSeparator;
                    bottom: 0;
                }
            }
            input {
                height: 55px;
                border: none;
                padding: 0 130px 0 0;
            }
            input::placeholder {
                text-wrap: wrap;
            }
        }

        .remove {
            &::after {
                display: none;
            }
        }

        .social-logo-container {
            display: flex;
            justify-content: space-between;
            padding-right: 130px;
                a{
                    height: 40px;
                    width: 40px;
                    @include centerChild;
                    border: 1px solid $bg-color-primary-medium;
                    border-radius: 50%;
                    transition: $transition;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
                i {
                    font-size: $font-size16;
                    color: $color-primary;
                }
        }
}