
// GENERAL SETTINGS 

.container-side-padding {
    padding-left: calc(50% - $container-size / 2);
    padding-right: calc(50% - $container-size / 2);
}

.wrapper-side-padding {
    padding-left: calc(50% - $wrapper-size /2);
    padding-right: calc(50% - $wrapper-size /2);
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

h1,
h2,
h3,
a {
    font-family: $font-family-primary;
}

h1,
h2,
h3 {
    line-height: $line-height120;
    @include textTransformCenter;
}

h2,
h3,
h4,
a {
    color: $color-primary;
}

h4,
p {
    font-family: $font-family-secondary;
}

h2,
h3,
a {
    font-weight: $font-weight-semi-bold;
}

p,
a {
    font-size: $font-size19;
}

h1 {
    font-size: $font-size80;
    font-weight: $font-weight-bold;
    color: $color-secondary;
    letter-spacing: 8px;
    padding-left: $bloc-side-space90;
    padding-right: $bloc-side-space90;
}

h2 {
    font-size: $font-size72;
    padding: 0 $bloc-side-space90;
}

h3 {
    font-size: $font-size29;
    padding: $bloc-space-between30 $bloc-side-space110;
}

h4 {
    font-size: $font-size16;
    font-weight: $font-weight-light;
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
}

p {
    font-weight: $font-weight-medium;
    line-height: $line-height250;
    color: $color-secondary;
    text-align: center;
}

a {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-container {
    @include centerChild;
    padding-top: $bloc-space-between50;
    padding-bottom: $bloc-space-between50;
}

button {
    outline: none;
    background: transparent;
    border: 2px solid $button-primary-color;
    padding: 0.65em 2.5em;
    transition: $transition;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

body {
    background: url(../img/bg.jpg) fixed center/cover;
}

// ***HEADER SECTION*** 

#header-container {
    .header-wrapper {
        min-height: 100vh;
        display: grid;
        align-content: space-between;
    }

    .text-container {
        padding-top: 120px;
            p {
                padding-top: $bloc-space-between50;
                padding-bottom: $bloc-space-between50;
                font-style: italic;
            }
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
            a {
                height: 60px;
                width: 60px;
                @include centerChild;
                border: 2px solid $bg-color-primary;
                border-radius: 50%;
                    i {
                        font-size: $font-size19;
                        color: $color-secondary;
                    }
            }    
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f2f2f250;
    }

    .text-link-container,
    .social-container {
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
            li {
                padding: 30px 20px;
            }  
    }

    .text-link-container {
        li {
            height: 100%;
            transition: $transition;
            &:first-child {
                background: $bg-color-primary-medium;
                color: $color-primary;
            }
            &:hover {
                background: $bg-color-primary-medium;
            }
            &:hover a {
                color: $color-primary;
            }
            &:hover .texte-color {
                color: $color-secondary;
            }
            &:hover:first-child {
                background: initial;
            }
        }
    }

    .texte-color {
        color: $color-primary;
        transition: $transition;
    }

    a {
        font-family: $font-family-primary;
        font-size: $font-size12;
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        color: $color-secondary;
        text-transform: uppercase;
        transition: $transition;
    }
        
    .social-container {
        li {
            padding: 30px;
            transition: $transition;   
            &:hover {
                transform: scale(1.5);
            }
            a {
                font-size: $font-size22;
                color: $color-secondary;
            }
        }
    }
}

// ***HERO SECTION*** 


#hero {
    .wrapper-container {
        background: $bg-color-primary;
            h4 {
                width: 100%;
                position: relative;
                padding-top: $bloc-space-between50;
                padding-bottom: $bloc-space-between50;
                background: $color-secondary;
                &::before, &::after {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 40%;
                    background: $bg-color-primary-medium;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &::before {
                    left: 0;
                }
                &::after {
                    right: 0;
                }
            }
            p {
                color: $color-primary;
                padding: $bloc-space-between50 $bloc-side-space90;
                font-style: italic;
            }
            .img {
                height: 500px;
                width: 100%;
                background: url(/assets/img/pic01.jpg) center/cover;
            }
    } 
}


// ***NEWS SECTION*** 


#news {
    .news-container {
        background: $bg-color-primary;
        padding: $bloc-side-space90 $bloc-space-between50;
        .img1, .img2 {
            height: 300px;
            width: 100%;
        }
        .img1 {
            background: url(/assets/img/pic02.jpg) center/cover;
        }
        .img2 {
            background: url(/assets/img/pic03.jpg) center/cover;
        }
        p {
            color: $color-primary;
        }
    }
}