@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
.container-side-padding {
  padding-left: calc(50% - (100% - 350px) / 2);
  padding-right: calc(50% - (100% - 350px) / 2);
}
@media only screen and (max-width: 1160px) {
  .container-side-padding {
    padding-left: calc(50% - (100% - 250px) / 2);
    padding-right: calc(50% - (100% - 250px) / 2);
  }
}
@media only screen and (max-width: 780px) {
  .container-side-padding {
    padding-left: calc(50% - (100% - 60px) / 2);
    padding-right: calc(50% - (100% - 60px) / 2);
  }
}

.wrapper-side-padding {
  padding-left: calc(50% - (100% - 200px) / 2);
  padding-right: calc(50% - (100% - 200px) / 2);
}
@media only screen and (max-width: 1160px) {
  .wrapper-side-padding {
    padding-left: calc(50% - (100% - 100px) / 2);
    padding-right: calc(50% - (100% - 100px) / 2);
  }
}
@media only screen and (max-width: 465px) {
  .wrapper-side-padding {
    padding-left: calc(50% - (100% - 60px) / 2);
    padding-right: calc(50% - (100% - 60px) / 2);
  }
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
@media only screen and (max-width: 1320px) {
  .container-grid {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
  }
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, p::-moz-selection, label::-moz-selection {
  background: #dedede;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
p::selection,
label::selection {
  background: #dedede;
}

h1,
h2,
h3,
h5,
a,
input[value="send message"],
label {
  font-family: Inter, sans-serif;
}

h1,
h2,
h3 {
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
}

h2,
h3,
h4,
h5,
a,
input[value="send message"],
label {
  color: #1b1b1b;
}

input::-webkit-input-placeholder {
  font-family: Merriweather, sans-serif;
}

input::-moz-placeholder {
  font-family: Merriweather, sans-serif;
}

input:-ms-input-placeholder {
  font-family: Merriweather, sans-serif;
}

input::-ms-input-placeholder {
  font-family: Merriweather, sans-serif;
}

h4,
p,
input::placeholder {
  font-family: Merriweather, sans-serif;
}

h2,
h3,
h5,
a,
input[value="send message"],
label {
  font-weight: 600;
}

p,
a {
  font-size: 1.2rem;
}
@media only screen and (max-width: 1160px) {
  p,
  a {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 780px) {
  p,
  a {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 465px) {
  p,
  a {
    font-size: 0.6rem;
  }
}

h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 5rem;
  font-weight: 700;
  color: #f2f2f2;
  letter-spacing: 8px;
  text-wrap: nowrap;
}
@media only screen and (max-width: 1160px) {
  h1 {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 980px) {
  h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 780px) {
  h1 {
    font-size: 2.5rem;
    letter-spacing: 4px;
  }
}
@media only screen and (max-width: 465px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 4.5rem;
  padding: 0 90px;
}
@media only screen and (max-width: 1160px) {
  h2 {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 980px) {
  h2 {
    font-size: 2.5rem;
    padding: 0;
  }
}
@media only screen and (max-width: 780px) {
  h2 {
    font-size: 1.4rem;
  }
}

h3 {
  font-size: 1.8rem;
  padding: 30px 0;
}

h4 {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  font-style: italic;
}
@media only screen and (max-width: 780px) {
  h4 {
    font-size: 0.8rem;
  }
}

p {
  font-weight: 500;
  line-height: 250%;
  color: #f2f2f2;
  text-align: center;
}

a,
input[value="send message"] {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

button,
input[type=submit] {
  outline: none;
  background: transparent;
  border: 2px solid #1b1b1b;
  padding: 0.65em 2.5em;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
button:hover,
input[type=submit]:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

input,
label,
textarea {
  display: block;
}

input:not([type=submit]),
textarea {
  outline: none;
  width: 100%;
  color: #1b1b1b;
  background: transparent;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 10px 20px;
}

input:focus,
textarea:focus {
  border: 1px solid #1b1b1b;
}

input {
  height: 40px;
}

h5,
label {
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media only screen and (max-width: 465px) {
  h5,
  label {
    font-size: 0.6rem;
  }
}

textarea {
  height: 200px;
  resize: none;
}

input[type=submit] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px 0;
}

body {
  background: url(../img/bg.jpg) fixed center/cover;
}

#header-container .header-wrapper {
  min-height: 100vh;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
#header-container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 120px;
  margin-bottom: 40px;
}
#header-container .text-container p {
  font-style: italic;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media only screen and (max-width: 1320px) {
  #header-container .wrapper-side-padding {
    padding-left: 0;
    padding-right: 0;
  }
}
#header-container .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#header-container .container a {
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
}
#header-container .container a i {
  font-size: 1.2rem;
  color: #f2f2f2;
}
#header-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(242, 242, 242, 0.3137254902);
}
#header-container .text-link-container,
#header-container .social-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
#header-container .text-link-container li,
#header-container .social-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 20px;
}
@media only screen and (max-width: 980px) {
  #header-container .text-link-container li,
  #header-container .social-container li {
    padding: 20px 15px;
  }
}
@media only screen and (max-width: 465px) {
  #header-container .text-link-container li,
  #header-container .social-container li {
    padding: 15px 10px;
  }
}
@media only screen and (max-width: 980px) {
  #header-container .text-link-container {
    width: 100%;
  }
}
#header-container .text-link-container li {
  height: 100%;
  text-align: center;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
@media only screen and (max-width: 980px) {
  #header-container .text-link-container li {
    width: 100%;
  }
}
#header-container .text-link-container li:first-child {
  background: #dedede;
}
#header-container .text-link-container li:hover {
  background: #dedede;
}
#header-container .text-link-container li:hover a {
  color: #1b1b1b;
}
#header-container .texte-color {
  color: #1b1b1b;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
#header-container a {
  font-family: Inter, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #f2f2f2;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
@media only screen and (max-width: 980px) {
  #header-container .social-container {
    display: none;
  }
}
#header-container .social-container li {
  padding: 30px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
#header-container .social-container li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
#header-container .social-container li a {
  font-size: 1.4rem;
  color: #f2f2f2;
}

#hero .wrapper-container {
  background: #f2f2f2;
  padding-bottom: 40px;
}
#hero .wrapper-container h4 {
  width: 100%;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f2f2f2;
}
#hero .wrapper-container h4::before, #hero .wrapper-container h4::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 40%;
  background: #dedede;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media only screen and (max-width: 1160px) {
  #hero .wrapper-container h4::before, #hero .wrapper-container h4::after {
    width: 35%;
  }
}
#hero .wrapper-container h4::before {
  left: 0;
}
#hero .wrapper-container h4::after {
  right: 0;
}
#hero .wrapper-container p {
  color: #1b1b1b;
  padding: 50px 90px;
  font-style: italic;
}
@media only screen and (max-width: 980px) {
  #hero .wrapper-container p {
    padding: 50px 0;
  }
}
#hero .wrapper-container .img {
  height: 500px;
  width: 100%;
  background: url(/assets/img/pic01.jpg) center/cover;
}
@media only screen and (max-width: 980px) {
  #hero .wrapper-container .img {
    height: 300px;
  }
}
@media only screen and (max-width: 780px) {
  #hero .wrapper-container .img {
    height: 250px;
  }
}
@media only screen and (max-width: 465px) {
  #hero .wrapper-container .img {
    height: 150px;
  }
}

#news .news-container {
  position: relative;
  background: #f2f2f2;
  padding: 90px 50px 20px;
}
@media only screen and (max-width: 465px) {
  #news .news-container {
    padding: 90px 25px 20px;
  }
}
#news .news-container::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: #dedede;
  left: 0;
  top: 0;
}
#news .news-container .img1, #news .news-container .img2 {
  height: 300px;
  width: 100%;
}
@media only screen and (max-width: 780px) {
  #news .news-container .img1, #news .news-container .img2 {
    height: 200px;
  }
}
@media only screen and (max-width: 465px) {
  #news .news-container .img1, #news .news-container .img2 {
    height: 150px;
  }
}
#news .news-container .img1 {
  background: url(/assets/img/pic02.jpg) center/cover;
}
#news .news-container .img2 {
  background: url(/assets/img/pic03.jpg) center/cover;
}
#news .news-container p {
  font-size: 1rem;
  color: #1b1b1b;
  padding-top: 50px;
  text-align: left;
}
@media only screen and (max-width: 1160px) {
  #news .news-container p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 780px) {
  #news .news-container p {
    font-size: 0.8rem;
  }
}
#news .news-container-after {
  position: relative;
}
#news .news-container-after::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background: #dedede;
  top: 0;
  right: 0;
}

#footer-container {
  margin-top: 40px;
  margin-bottom: 80px;
}
#footer-container .form-container-left {
  position: relative;
  background: #f2f2f2;
  padding: 90px 50px 20px;
}
@media only screen and (max-width: 1320px) {
  #footer-container .form-container-left {
    padding: 90px 50px 40px;
  }
  #footer-container .form-container-left::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #dedede;
    left: 0;
    bottom: 0;
  }
}
@media only screen and (max-width: 465px) {
  #footer-container .form-container-left {
    padding: 90px 20px 20px;
  }
}
#footer-container .form-container-left .form-part-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
#footer-container .form-container-left input,
#footer-container .form-container-left textarea {
  margin: 30px 0;
}
#footer-container .form-container-right {
  position: relative;
  background: #f2f2f2;
  padding-top: 40px;
}
#footer-container .form-container-right::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background: #dedede;
  left: 0;
  top: 0;
}
#footer-container .form-container-right form {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
#footer-container .form-container-right .form-part-container {
  position: relative;
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
#footer-container .form-container-right .form-part-container::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: #dedede;
  bottom: 0;
}
@media only screen and (max-width: 465px) {
  #footer-container .form-container-right .form-part-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
#footer-container .form-container-right input {
  height: 100px;
  border: none;
  padding: 0 40px;
}
@media only screen and (max-width: 780px) {
  #footer-container .form-container-right input {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 465px) {
  #footer-container .form-container-right input {
    padding: 0 0 0 10px;
  }
}
#footer-container .form-container-right input::-webkit-input-placeholder {
  font-size: 1rem;
  color: rgba(27, 27, 27, 0.5411764706);
  text-wrap: wrap;
}
#footer-container .form-container-right input::-moz-placeholder {
  font-size: 1rem;
  color: rgba(27, 27, 27, 0.5411764706);
  text-wrap: wrap;
}
#footer-container .form-container-right input:-ms-input-placeholder {
  font-size: 1rem;
  color: rgba(27, 27, 27, 0.5411764706);
  text-wrap: wrap;
}
#footer-container .form-container-right input::-ms-input-placeholder {
  font-size: 1rem;
  color: rgba(27, 27, 27, 0.5411764706);
  text-wrap: wrap;
}
#footer-container .form-container-right input::placeholder {
  font-size: 1rem;
  color: rgba(27, 27, 27, 0.5411764706);
  text-wrap: wrap;
}
@media only screen and (max-width: 780px) {
  #footer-container .form-container-right input::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  #footer-container .form-container-right input::-moz-placeholder {
    font-size: 0.8rem;
  }
  #footer-container .form-container-right input:-ms-input-placeholder {
    font-size: 0.8rem;
  }
  #footer-container .form-container-right input::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  #footer-container .form-container-right input::placeholder {
    font-size: 0.8rem;
  }
}
#footer-container .remove::after {
  display: none;
}
#footer-container .social-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}
@media only screen and (max-width: 780px) {
  #footer-container .social-logo-container {
    padding: 0 10px;
  }
}
#footer-container .social-logo-container a {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #dedede;
  border-radius: 50%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
@media only screen and (max-width: 465px) {
  #footer-container .social-logo-container a {
    height: 30px;
    width: 30px;
  }
}
#footer-container .social-logo-container a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#footer-container .social-logo-container i {
  font-size: 1rem;
  color: #1b1b1b;
}/*# sourceMappingURL=index.css.map */